name: Release jar

on:
    workflow_dispatch:
    release:
      types: [created]

permissions:
    contents: read

jobs:
  read_versions:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.versionNumber.outputs.versionNumber }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@0634a2670c59f64b4a01f0f96f84700a4088b9f0 # v2.12.0
        with:
          egress-policy: audit

      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      # Get version number
      - name: Get version number
        id: versionNumber
        run: |
          VERSION=$(grep '^version=' version.properties | cut -d'=' -f2)
          echo "versionNumber=$VERSION" >> $GITHUB_OUTPUT

  build:
    needs: read_versions
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@0634a2670c59f64b4a01f0f96f84700a4088b9f0 # v2.12.0
        with:
          egress-policy: audit

      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Set up JDK 21
        uses: actions/setup-java@c5195efecf7bdfc987ee8bae7a71cb8b11521c00 # v4.7.1
        with:
          java-version: "21"
          distribution: "temurin"
          cache: 'gradle'

      - name: Set execute permissions for Gradle Wrapper
        run: chmod +x gradlew

      - uses: gradle/actions/setup-gradle@06832c7b30a0129d7fb559bcc6e43d26f6374244 # v4.3.1
        with:
          gradle-version: 8.13

      - name: Generate jar
        run: ./gradlew clean build

      # Get version number
      - name: Get version number
        id: versionNumber
        run: |
          VERSION=$(grep '^version=' version.properties | cut -d'=' -f2)
          echo $VERSION

      - run: |
          ls -R build/libs
      - name: Rename binaries
        run: |
          mkdir ./binaries
          mv "./build/libs/swaggerhub-V2-${{ needs.read_versions.outputs.version }}.jar" ./binaries/swaggerhub-V2-${{ needs.read_versions.outputs.version }}.jar

      - name: Upload build artifacts
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          retention-days: 1
          if-no-files-found: error
          name: jar-binaries
          path: |
            ./binaries/*

  sign_verify:
    needs: [read_versions, build]
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@0634a2670c59f64b4a01f0f96f84700a4088b9f0 # v2.12.0
        with:
          egress-policy: audit

      - name: Download build artifacts
        uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4.3.0
        with:
          name: jar-binaries

      - name: Display structure of downloaded files
        run: ls -R

      - name: Install Cosign
        uses: sigstore/cosign-installer@3454372f43399081ed03b604cb2d021dabca52bb # v3.8.2

      - name: Generate key pair
        run: cosign generate-key-pair

      - name: Sign and generate attestations
        run: |
          cosign sign-blob \
            --key ./cosign.key \
            --yes \
            --output-signature ./swaggerhub-V2-${{ needs.read_versions.outputs.version }}.jar.sig \
            ./swaggerhub-V2-${{ needs.read_versions.outputs.version }}.jar

          cosign attest-blob \
            --predicate - \
            --key ./cosign.key \
            --yes \
            --output-attestation ./swaggerhub-V2-${{ needs.read_versions.outputs.version }}.jar.intoto.jsonl \
            ./swaggerhub-V2-${{ needs.read_versions.outputs.version }}.jar

          cosign verify-blob \
            --key ./cosign.pub \
            --signature ./swaggerhub-V2-${{ needs.read_versions.outputs.version }}.jar.sig \
            ./swaggerhub-V2-${{ needs.read_versions.outputs.version }}.jar

      - name: Display structure of downloaded files
        run: ls -R

      - name: Upload signed artifacts
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          retention-days: 1
          if-no-files-found: error
          name: jar-signed
          path: |
            ./swaggerhub-V2-${{ needs.read_versions.outputs.version }}.*
            !cosign.*

  create-release:
    needs: [read_versions, sign_verify]
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@0634a2670c59f64b4a01f0f96f84700a4088b9f0 # v2.12.0
        with:
          egress-policy: audit

      - name: Download signed artifacts
        uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4.3.0
      - name: Display structure of downloaded files
        run: ls -R
      - name: Upload binaries, attestations and signatures to Release and create GitHub Release
        uses: softprops/action-gh-release@da05d552573ad5aba039eaac05058a918a7bf631 # v2.2.2
        with:
          tag_name: v${{ needs.read_versions.outputs.version }}
          generate_release_notes: true
          files: |
            ./*signed/*
